
<!-- Section: intro -->
<section id="intro" class="intro">

<div class="slogan">
	<h2 class="hero-text">Welcome to the Digital Jersey Recruitment Platform</h2>
</div>

<div class="page-scroll">
	<p class="scroll-text">Scroll Down</p>
	<a href="#service" class="btn btn-circle">
		<i class="fa fa-angle-double-down animated"></i>
	</a>
</div>

</section>
<!-- /Section: intro -->

<i class="fa fa-2x fa-angle-down"></i>

<!-- Section: services -->
<section id="service" class="home-section text-center bg-gray">
	
<div class="heading-about">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
					<h2>Why Join?</h2>
					<i class="fa fa-2x fa-angle-down"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>

<div class="row"></div>

<div class="col-sm-3 col-md-3 why-join-1">
	<div class="wow fadeInLeft" data-wow-delay="0.5s">
        <div class="service-box">
			<div class="service-icon">
				<p>Gain direct access to entry level programmers that are ready to enter the IT industry.</p>
			</div>
		</div>
	</div>	
</div>

<div class="col-sm-3 col-md-3 why-join-2">
	<div class="wow fadeInLeft" data-wow-delay="1s">
        <div class="service-box">
			<div class="service-icon">
				<p>Track students as they progress through the coding programme and contact them directly.</p>
			</div>
		</div>
	</div>	
</div>

<div class="col-sm-3 col-md-3 why-join-3">
	<div class="wow fadeInLeft" data-wow-delay="1.5s">
        <div class="service-box">
			<div class="service-icon">
				<p>Sponsor a student and customise what they learn to suit your specific needs.</p>
			</div>
		</div>
	</div>	
</div>

</div>

</section>


<!-- Section: about -->
<section id="about" class="home-section text-center">

<div class="heading-about"></div>

<div class="container">

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="wow bounceInDown" data-wow-delay="0.4s">
				<div class="section-heading">
					<h2>The students</h2>
					<i class="fa fa-2x fa-angle-down"></i>
				</div>
			</div>
		</div>
	</div>
	
<div class="container">
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 student-header-underline">
			<hr class="marginbot-50">
		</div>
	</div>
</div>

<div class="row"></div>


<% @student_profiles.first(4).each do |student_profile| %>

<div class="col-xs-6 col-sm-3 col-md-3">
	<div class="wow bounceInUp student-preview-card" data-wow-delay="0.3s">
	    <div class="team boxed-grey">
	        <div class="inner">
				<h5 class="student-preview-name"><%= student_profile.first_name %></h5>
				<div class="student-preview-avatar"><%= image_tag avatar_url(student_profile) %></div>
				<br>
	            <p class="student-preview-year"><%= student_profile.year %> group</p>
	            <p class="student-preview-skills"><%= student_profile.three_descriptive_words %></p>
	        </div>
	    </div>
	</div>
</div>

<% end %>


</div>

</section>		
<!-- /Section: about -->



<section id="sign-up">
	<div class="sign-up-now">
		<%= link_to('Sign up to view all students', new_user_registration_path) %>
	</div>
</section>


