
<header>
<h1>Admin Panel</h1>
</header>

<div class="admin-options">

	<div class="admin-contents">

		
		<div class="admin-container thumb">
			<div class="admin-card">	  				
				<div class="admin-icon">
					
					<%= link_to student_profiles_path do %>
					<%= image_tag "Student_icon.jpg", class: "admin-img" %>
					<% end %>

				</div>

			</div>
		</div>
		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">	    		
		    		<%= link_to business_profiles_path do %>
		    		<%= image_tag "Business_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    	</div> 
		    </div>
		</div> 


	<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">
		    		<% if can? :manage, User %>	    		
		    		<%= link_to new_invitation_path(:user) do %>
		    		<%= image_tag "Invitation_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    		<% end %>
		    	</div> 
		    </div>
		</div> 
	</div>

</div>

  

<!-- <div class="admin-options">

	<div class="admin-contents">

		
		<div class="admin-container thumb">
			<div class="admin-card">	  				
				<div class="admin-icon">				
					<%= link_to student_profiles_path do %>
					<%= image_tag "Student_icon.jpg", class: "admin-img" %>
					<% end %>
				</div>
			</div>
		</div>



		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">	    		
		    		<%= link_to business_profiles_path do %>
		    		<%= image_tag "Business_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    	</div> 
		    </div>
		</div>



		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">		
		    		<%= link_to new_invitation_path(:user) do %>
		    		<%= image_tag "Invitation_icon.jpg", class: "admin-img" %>		 
		    		<% end %>
		    	</div> 
		    </div>
		</div>		    				
	</div> -->
</div>


  


