
<header>
<h1>Admin Panel</h1>
</header>

<div class="admin-options">

	<div class="admin-contents">

		
		<div class="admin-container thumb">
			<div class="admin-card">	  				
				<div class="admin-icon">
					
					<%= link_to student_profiles_path do %>
					<%= image_tag "Student_icon.jpg", class: "admin-img" %>
					<% end %>

				</div>

			</div>
		</div>
		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">	    		
		    		<%= link_to business_profiles_path do %>
		    		<%= image_tag "Business_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    	</div> 
		    </div>
		</div> 


	div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">
		    		<% if can? :manage, User %>	    		
		    		<%= link_to new_invitation_path(:user) do %>
		    		<%= image_tag "Invitation_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    		<% end %>
		    	</div> 
		    </div>
		</div>
	</div>
</div>

  <% mailer_all = [] %>

<% @business_profiles.each do |business_profile| %>
   <% mailer_all.append(business_profile.business_name) %>
     
<% end %>

<a href='mailto:<%= mailer_all.join(",") %>'>[Mail All]</a>

<%= link_to('[Student Profiles]', student_profiles_path) %>
<%= link_to('[Business Profiles]', business_profiles_path) %>
	<div>
		<%= link_to "[View my profile]", current_user %>
	</div>

	<% if user_signed_in? %>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "login") %>
	<% else %>
	  <%= link_to('Login', new_user_session_path, class: "login") %>
	<% end %>


<<<<<<< HEAD
=======
<!-- <div class="admin-options">

	<div class="admin-contents">

		
		<div class="admin-container thumb">
			<div class="admin-card">	  				
				<div class="admin-icon">				
					<%= link_to student_profiles_path do %>
					<%= image_tag "Student_icon.jpg", class: "admin-img" %>
					<% end %>
				</div>
			</div>
		</div>



		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">	    		
		    		<%= link_to business_profiles_path do %>
		    		<%= image_tag "Business_icon.jpg", class: "admin-img" %>
		    		<% end %>
		    	</div> 
		    </div>
		</div>



		<div class="admin-container thumb">
			<div class="admin-card">
		    	<div class="admin-icon">		
		    		<%= link_to new_invitation_path(:user) do %>
		    		<%= image_tag "Invitation_icon.jpg", class: "admin-img" %>		 
		    		<% end %>
		    	</div> 
		    </div>
		</div>		    				
	</div> -->
</div>
>>>>>>> 452fe2bfaca83adb99f38f73b9ab90f1cf864c46

  


