<%= simple_form_for (@business_profile), :html => {:class => "form-horizontal center"}  do |f| %>
  <% if @business_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_profile.errors.count, "error") %> prohibited this business_profile from being saved:</h2>

      <ul>
      <% @business_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
<br>
<br><br><br><br><br>
<div class="form-container">
 
 <div class="form-group">
    <%= f.label :business_name, "Business Name", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :business_name, class: "form-control", :placeholder => 'Name of Company' %>
      </div>
    </div>
<br>
      <div class="form-group">
    <%= f.label :url_of_business, "Company Website", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :url_of_business, class: "form-control", :placeholder => 'Website' %>
      </div>
    </div>

<br>
  <div class="form-group">
    
    <%= f.label :description_business, "Type of Business", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :description_business, class: "form-control", :placeholder => 'Put what type of business you are such as development, finance, games, etc ' %>
      </div>

  </div>
  <br><br>
  <div class="login-field">
    <%= f.submit class: "button" %>
  </div>
</div>
<% end %>

<br><br><br><br><br><br><br><br><br><br>
