
<div class="instructions">
<h1>Business Profiles</h1>
  <p>A list of businesses who are looking to employ coders. To view the job opportunities that a business has to offer, click the 'View jobs' link in the chosen business profile.</p>
</div>

<div class="iso_sort">
  <button id='sortNameAsc'>Ascending </button>
    <button id='sortNameDesc'>Descending</button>
</div>


<div class='biz_flex_index'>
 <% @business_profiles.each do |business_profile| %>
<div class='item card_index' data-name="<%= business_profile.business_name %>">

         <strong><p id="index_business_name"> <%= business_profile.business_name %></strong><br>
            <small><%= business_profile.description_business %></small></p>
            
         
   <%= link_to business_profile.url_of_business, "http://#{business_profile.url_of_business}", :class => "website_b" %>
     

      <%= link_to 'VIEW JOBS', business_profile %>

</div>
<% end %>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>




