
  <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <p class='biz_title'
        <span class="mdl-layout-title"><%= @business_profile.business_name %></span>

        <br>

        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
        mdl-textfield--floating-label mdl-textfield--align-right">
        
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
          id="waterfall-exp" />
        </div>
        
      </div>
    </div>
    <p class="url"> <%= link_to 'Website', @business_profile.url_of_business %> </p>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="waterfall-demo-header-nav mdl-navigation">
        <p class='links_show'>
          <a class="mdl-navigation__link" href=""><%= link_to 'Back', business_profiles_path %>
          </p>
          <p class='links_show'>
            <% if current_user and current_user.type_of_user != "admin" %>
            <a class="mdl-navigation__link" href=""><%= link_to 'View my profile', current_user %></a>
          </p>
          <% end %>

        </nav>
      </div>
    </header>

    <br>
    <br>

    <div class='biz_flex'>
    <% @business_profile.business_listings.each do |business_listing| %>

      <div class='bottom_card'>

        <p>

         <h4> <%= business_listing.title %></h4>
         <p class='created'> Job created: <%= business_listing.created_at %></p>
       </p>

       <p>
        <% if business_listing.full_time == true %>
        <strong> <%= 'Full Time' %></strong>
        <% end %>
        <% if business_listing.part_time == true %>
        <strong> <%= 'Part Time' %> </strong>
        <% end %>
        <% if business_listing.contract == true %>
        <strong> <%= 'Contract' %> </strong>
        <% end %>
      </p>

      <p>
        <strong>Skills:</strong>
        <%= business_listing.skills_wanted %>
      </p>

      <p>
        <%= business_listing.job_description %>
      </p>

      <p>
       <strong>Contact:</strong> <%= business_listing.contact_email %>
     </p>
   </div>


<% end %>
</div>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">

    <ul class="mdl-mini-footer--link-list">
      <li><a href="#"></a></li>
      <li><a href="#">Digital Jersey 2015</a></li>
      <li>Christine Harris</li>
      <li> Morti Alexandru</li>
      <li> Dan Le Cornu</li>
      <li> Ben Whitley</li>
    </ul>
  </div>
</footer>

