

<h1>Listing Student Profiles</h1>



<table>
  

  <tbody>
    <% @student_profiles.each do |student_profile| %>


    <link rel="stylesheet" type="text/css" href="cardstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

<div class="wrapper">
  
  <div class="main" id="text-main"><img src="http://i.imgur.com/D9SmIuS.jpg" alt="coding-icon"><p>
    Web Developer and Programmer</p><p class="green" id="text-main"> studying at Digital Jersey
    </p>  
  </div>
  <aside class="aside aside-1"><img src="http://i.imgur.com/R0dd2Vs.png" alt="me">
<br>Based in <p class="green"> United Kingdom</p>
  </aside>
  
    
  </div>

</div>
<div class="bottom-wrapper">
  <button onclick="myFunction()" class="footer"><i class="fa fa-folder-open icon-large"></i>
    
    
    
    <p class="f-font"><%= link_to 'PORTFOLIO', student_profiles_path %></p></footer></button>

  <button onclick="myFun()" class="footer-1"><i class="fa fa-envelope-o"></i><p class="f-font">CONTACT</p></button></footer>


  <button onclick="fun01()" class="footer-2"><i class="fa fa-github-alt"></i><p class="f-font">HOME</p></button></footer>


  <button onclick="aboutFun()" class="footer-3"><i class="fa fa-question"></i><p class="f-font">ABOUT</p></footer>
  
</div>
      <tr>
        <td><%= student_profile.student_id %></td>
        <td><%= student_profile.user_id %></td>
        <td><%= student_profile.first_name %></td>
        <td><%= student_profile.last_name %></td>
        <td><%= student_profile.github_url %></td>
        <td><%= student_profile.profile_img %></td>
        <td><%= student_profile.short_description %></td>
        <td><%= student_profile.long_decription %></td>
        <td><%= student_profile.skills %></td>
        <td><%= student_profile.part_time %></td>
        <td><%= student_profile.full_time %></td>
        <td><%= student_profile.contract %></td>
        <td><%= student_profile.public %></td>
        <td><%= link_to 'Show', student_profile %></td>
        <td><%= link_to 'Edit', edit_student_profile_path(student_profile) %></td>
        <td><%= link_to 'Destroy', student_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "login") %>
<% else %>
  <%= link_to('Login', new_user_session_path, class: "login") %>
<% end %>

<%= link_to 'New Invitation', new_invitation_path(:user) %>
 
<%= link_to 'New Student profile', new_student_profile_path %>

<%= link_to 'Business Listings', business_listings_path %>


