 <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src='<%= image_tag avatar_url(@student_profile) %>'> -->
                    <div class="intro-text">
                        <p class="name">  <%= @student_profile.first_name %><br> <%= @student_profile.last_name %></p>
                        <p><%= image_tag avatar_url(@student_profile), :class => "s_img" %></p>
                        <% if @student_profile.sponsor == true %>
                            <p class="sponsor">Student already has a sponsor</p>
                        <% end %>


                        <br>
                        <br>
                        <br>
                        <br>
                       <!-- <p><hr class="star-light"></p> --> 
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
                <div id="Proficiencies">
    
       

    <div id="ProficienciesTop"><p>Ruby</p></div><!-- END ProficienciesTop -->

    <div id="ProficienciesBottom">
      <div class="progress">
        <div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%" data-percent="<%= @student_profile.ruby %>"></div>
      </div>
    </div><!--END ProficienciesBottom-->
    <div id="ProficienciesTop"><p>Rails</p></div><!-- END ProficienciesTop -->

    <div id="ProficienciesBottom">
      <div class="progress">
        <div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%" data-percent="<%= @student_profile.rails %>"></div>
      </div>
    </div><!--END ProficienciesBottom-->
    <div id="ProficienciesTop"><p>SQL</p></div><!-- END ProficienciesTop -->

    <div id="ProficienciesBottom">
      <div class="progress">
        <div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%" data-percent="<%= @student_profile.sql %>"></div>
      </div>
    </div><!--END ProficienciesBottom-->
    <div id="ProficienciesTop"><p>HTML5</p></div><!-- END ProficienciesTop -->

    <div id="ProficienciesBottom">
      <div class="progress">
        <div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%" data-percent="<%= @student_profile.html %>"></div>
      </div>
    </div><!--END ProficienciesBottom-->
    <div id="ProficienciesTop"><p>CSS</p></div><!-- END ProficienciesTop -->

    <div id="ProficienciesBottom">
      <div class="progress">
        <div class="jquery progress-bar progress-bar-info" role="progressbar" style="width: 0%" data-percent="<%= @student_profile.css %>"></div>
      </div>
    </div><!--END ProficienciesBottom-->
</div>


             <p class="s_skills"> <%= @student_profile.skills %></p>
    </section>
<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            
                    <p class="s_skills">  <%= sanitize @student_profile.long_decription.html_safe %></p>
                
            
    </section>
 <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact <%= @student_profile.first_name %></h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <p>GitHub: <%= @student_profile.github_url %></p>
                                
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <p>Email: <%= @student_profile.user.email %></p>
                               
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <p>Blog: <%= @student_profile.website %></p>
                                
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <p>Availability:  <% if @student_profile.full_time == true %>
                                                        <strong> <%= 'Full Time' %></strong>
                                                <% end %>
                                                <% if @student_profile.part_time == true %>
                                                        <strong> <%= 'Part Time' %> </strong>
                                                <% end %>
                                                <% if @student_profile.contract == true %>
                                                        <strong> <%= 'Contract' %> </strong>
                                                <% end %>
                                                                                       

                                                    </p>
                                
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%  if can? :edit, StudentProfile %>
  <%= link_to 'Edit ', edit_student_profile_path(@student_profile),  :class => "edit_profiles" %>
<% end %>

<%  if can? :manage, :all %>
  <%= link_to 'Delete ', @student_profile,  :method => :delete,  :class => "edit_profiles_destroy"  %>
<% end %>
