<p id="notice"><%= notice %></p>

<head>
  <link rel="assets/stylesheet" type="text/css" href="show_student.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title><%= @student_profile.first_name %>
  <%= @student_profile.last_name %></title>
 </head>
 <body>
  <header class="student_header">
   <h1 class="student_name"> <%= @student_profile.first_name %>
  <%= @student_profile.last_name %> </h1>

<div class="avatar_circle">
   <img src='<%= @student_profile.profile_img %>'>
</div>
  </header>

  <div class="education">
  
  <div class="circle">
      <i class="fa fa-graduation-cap fa-5x"></i>
  </div>
  <p class="school">
      MIT
      <br>
      Fake PhD in Computer Science


       </p>
    
  </div>

  <div class="description">
    <p class="my_info">
      <%= @student_profile.long_decription %>
    </p>

  </div>

  <div class="my_skills">
    
    <p id="ruby">Ruby
  <div class="meter animate">
  <span style="width: 50%"></span>
</div>
</p>


<p id="rails">Rails
  <div class="meter animate">
  <span style="width: 50%"></span>
</div>
</p>

<p id="sql">SQL
  <div class="meter animate">
  <span style="width: 50%"></span>
</div>
</p>

<p id="html">Html
  <div class="meter animate">
  <span style="width: 50%"></span>
</div>
</p>
<p id="css">CSS
  <div class="meter animate">
  <span style="width: 50%"></span>
</div>
</p>
</div>

<div class="contact">
  <p class="contact_me">Email: 
  <br>
  Github:  <%= @student_profile.github_url %>
  <br>
  Blog:
  <br></p>

</div>


  

  
 </body>
<!-- <p>
  <strong>User:</strong>
  <%= @student_profile.user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_profile.last_name %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @student_profile.github_url %>
</p>

<p>
  <strong>Profile img:</strong>
  <%= @student_profile.profile_img %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @student_profile.short_description %>
</p>

<p>
  <strong>Long decription:</strong>
  <%= @student_profile.long_decription %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @student_profile.skills %>
</p>

<p>
  <strong>Part time:</strong>
  <%= @student_profile.part_time %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @student_profile.full_time %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @student_profile.contract %>
</p>

<p>
  <strong>Public:</strong>
  <%= @student_profile.public %>
</p>


 | -->
 <%= link_to 'Edit', edit_student_profile_path(@student_profile) %>
<%= link_to 'Back', student_profiles_path %>
