<br>
<br>
<br>

<div class='biz_flex'>

    

    

      <div class='bottom_card'>

        <p>

         <h4> <%= @business_listing.title %></h4>
         <p class='created'> Job created: <%= @business_listing.created_at %></p>
       </p>

       <p>
        <% if @business_listing.full_time == true %>
        <strong> <%= 'Full Time' %></strong>
        <% end %>
        <% if @business_listing.part_time == true %>
        <strong> <%= 'Part Time' %> </strong>
        <% end %>
        <% if @business_listing.contract == true %>
        <strong> <%= 'Contract' %> </strong>
        <% end %>
      </p>

      <p>
        <strong>Skills:</strong>
        <%= @business_listing.skills_wanted %>
      </p>

      <p>
        <%= @business_listing.job_description %>
      </p>

      <p>
       <strong>Contact:</strong> <a href='mailto:<%= @business_listing.contact_email %>'><%= @business_listing.contact_email %></a>
     </p>
   </div>
<br>
<br>

<%= link_to 'Back', student_profiles_path, :class => "edit_profiles_destroy_biz" %>
