<br>
<br>
<br>

<div class = "your-job-listing-info">
  <h3>Here is your job opening</h3>
  <p>You can go back to view your Profile and job openings by clicking the 'MY PROFILE' link in the nav bar.</p>
</div>

<div class='biz_flex'>

    

    

      <div class='bottom_card'>

        <p>

         <h4> <%= @business_listing.title %></h4>
         <p class='created'> Job created: <%= @business_listing.created_at %></p>
       </p>

       <p>
        <% if @business_listing.full_time == true %>
        <strong> <%= 'Full Time' %></strong>
        <% end %>
        <% if @business_listing.part_time == true %>
        <strong> <%= 'Part Time' %> </strong>
        <% end %>
        <% if @business_listing.contract == true %>
        <strong> <%= 'Contract' %> </strong>
        <% end %>
      </p>

      <p>
        <strong>Skills:</strong>
        <%= @business_listing.skills_wanted %>
      </p>

      <p>
        <%= @business_listing.job_description %>
      </p>

      <p>
       <strong>Contact:</strong> <a href='mailto:<%= @business_listing.contact_email %>'><%= @business_listing.contact_email %></a>
     </p>
   </div>
</div>
<br>
<br>
<br>
