<p id="notice"><%= notice %></p>

<p>
  <strong>Skills wanted:</strong>
  <%= @business_listing.skills_wanted %>
</p>

<p>
  <strong>Title:</strong>
  <%= @business_listing.title %>
</p>

<p>
  <strong>Part time:</strong>
  <%= @business_listing.part_time %>
</p>

<p>
  <strong>Full time:</strong>
  <%= @business_listing.full_time %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @business_listing.contract %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @business_listing.job_description %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @business_listing.contact_email %>
</p>

<%= link_to 'Edit', edit_business_listing_path(@business_listing) %> |
<%= link_to 'Back', student_profiles_path %>
