<header class="admin_invite_header">
<p>Welcome!</p>

</header>

<div class="invite_page">





<p> Hello, and welcome to the Digital Jersey Coders Program! To complete the registration process all you need to do is input a password in the text fields below. After registering you will be able to view businesses in Jersey that are hiring in the tech industry. You will also be able to create a profile which will be visible to registered businesses on this site. </p>

<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t("devise.invitations.edit.submit_button") %></p>
<% end %>
 </div>

 <footer class="invite_footer">
 
     Digital Jersey 2015
      <span>Christine Harris Morti Alexandra  Dan Le Cornu Ben Whitley</span>
    
</footer>