<head>

<link rel="stylesheet" type="text/css" href="student_profiles.scss">

</head>



<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
         
        <span class="mdl-layout-title"><h1>INVITATIONs</h1></span>
          
        
       
        </div>
        
      </div>
    </div>
    
    
          
        
        </nav>
      </div>
    </header>

<div class="invite_page">
<h2><%= t "devise.invitations.new.header" %></h2>
<p>Input Students email address to send an invitation to join the site </p>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>

</div>


<footer class="invite_footer">
 
     Digital Jersey 2015
      <span>Christine Harris Morti Alexandra  Dan Le Cornu Ben Whitley</span>
    
</footer>
