<header class="admin_invite_header">
<p><%= link_to "back", @admin_path, :class => "invite_back" %></p>

</header>





<div class="invite_page">
<h2><%= t "devise.invitations.new.header" %></h2>
<p>Input Students email address to send an invitation to join the site </p>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>

</div>


<footer class="invite_footer">
 
     Digital Jersey 2015
      <span>Christine Harris Morti Alexandra  Dan Le Cornu Ben Whitley</span>
    
</footer>
