<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

      <div class="logo">
        <p class="logo-text">Recruitment<br>Platform</p>
        <%= image_tag 'logo.png', class: "logo-img" %>
      </div>
<!--         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html"></a>
      </div>
 -->
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">

        <li class="active">
          <% if user_signed_in? and current_user and current_user.type_of_user == "admin" %>
            <%= link_to('Home', admin_path) %>
          <% end %>
        </li>

       
        <li class="dropdown">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "login") %>
        <% end %>
              
      </ul>
    </div>
  </nav>






<div class="invite_page">
<h2><%= t "devise.invitations.new.header" %></h2>
<p>Input Students email address to send an invitation to join the site </p>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>


  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>

</div>

<br>
<br>
<br>


<footer>
  <div>
    <ul>
      <li class="copyright">Copyright &#0169; 2015 Digital Jersey Limited</li>
      <div class="creators">
      <li>Ben Whitley</li>
      <li>Dan Le Cornu</li>
      <li>Morti Alexandru</li>
      <li>Christine Harris</li>
      </div>
    </ul>
  </div>
</footer>

