<!DOCTYPE html>
<html>
<head>
  <title>Recruitment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<%= yield %>

<!-- This is linking to current user profile !-->
<% if current_user %>
<div>
	<%= link_to "[View my profile]", current_user %>
</div>
<% end %>


</body>
</html>
